*{
  margin: 0;

  
}
.add_Murkup{
  margin-bottom: 20px;
}
.container{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.Submit {
  background-color: rgb(79, 170, 255);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.name{
  margin-left: 20px;
}

.result{
  display: block;
 
}
input[type="text"] {
  
  margin-left: 20px;
  border: 1px solid #cccccc; 
  border-radius: 3px;
  background: #ffffff !important; 
  outline: none; 
  height: 24px;
  width: 240px;
  color: green; 
  font-size: 11px;
  font-family: Tahoma; 
}